.speed-dial-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  
  .speed-dial-main {
    background-color: #000000;
    box-shadow: 0 0 2px 2px;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 12px 16px;
    height: 65px;
    width: 65px;
    position: absolute;
    transition: all 1s ease-out;
    z-index: 1;
  }

  .speed-dial-color {
    justify-content: center;
    padding: 0 !important;
    align-items: center;
    display: flex !important;
  }

  .color {
    height: 75%;
    width: 75%;
    color: antiquewhite;
    border-radius: 100%;
  }
  
  .speed-dial-button,
  .speed-dial-colors {
    position: absolute; /* Add this line */
    z-index: 0; /* Add this line */
    width: 65px;
    height: 65px;
  }

  .speed-dial-util {
    right: 0px
  }

  .speed-dial-color {
    left: 0px
  }
  
  .speed-dial-container.open .speed-dial-button,
  .speed-dial-container.open .speed-dial-colors {
    display: block;
  }
  
  .speed-dial-buttons {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .speed-dial-button {
    background-color: #000000;
    box-shadow: 0 0 2px 2px;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 1rem !important;
    padding: 8px 12px;
    transition: all 1s ease-out;
  }
  
  .speed-dial-container.open .speed-dial-main {
    transform: rotate(90deg);
  }

  .speed-dial-container.open .clear {
    transform: translateX(-100px);
  }
  
  .speed-dial-container.open .play {
    transform: translateX(-200px);
  }
  
  .speed-dial-container.open .speed {
    transform: translateX(-300px);
  }
  
  .speed-dial-container.open .random {
    transform: translateX(-400px);
  }

  .speed-dial-container.open .experimental {
    transform: translateX(-500px);
  }
  
  .speed-dial-container.open .red {
    transform: translateY(-100px);
  }
  
  .speed-dial-container.open .blue {
    transform: translateY(-200px);
  }
  
  .speed-dial-container.open .green {
    transform: translateY(-300px);
  }
  
  /* Mobile */
  @media (max-width: 767px) {
    .speed-dial-main,
    .speed-dial-button,
    .speed-dial-colors {
        width: 55px;
        height: 55px;
    }

    .speed-dial-container.open .clear {
      transform: translateX(-70px);
    }
  
    .speed-dial-container.open .play {
      transform: translateX(-140px);
    }
  
    .speed-dial-container.open .speed {
      transform: translateX(-210px);
    }
  
    .speed-dial-container.open .random {
      transform: translateX(-280px);
    }

    .speed-dial-container.open .experimental {
      transform: translateY(-280px);
    }
  
    .speed-dial-container.open .red {
      transform: translateY(-70px);
    }
  
    .speed-dial-container.open .blue {
      transform: translateY(-140px);
    }
  
    .speed-dial-container.open .green {
      transform: translateY(-210px);
    }
  }